* {
  box-sizing: initial !important;
}
*::before {
  box-sizing: initial !important;
}
*::after {
  box-sizing: initial !important;
}
.parent {
  width: 100%;
}
.card-frame{
  height: 450px;
  width: 380px;
  background-clip: padding-box;
  margin: 0 auto;
}
.card-upper-sect {
  height: 350px;
  width: 100%;
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-upper-sect > img {
  width: 300px;
  height: 300px;
  border: solid rgba(255,255,255, 0.8);
}
.card-middle-sect {
  position: relative;
  top: -40px;
  height: 70px;
  width: 100%;
  display: flex;
  padding: 3px 3px;
}
.level-container {
  width: 70px;
  height: 75px;
  border: solid 1px rgba(255,255,255, 0.8);
  margin: 0 10px;
  z-index: 10;
}
.level-container > .header {
  width: 100%;
  height: 22px;
  background-color: white;
  color: rgb(10,45,65);
  font-family: PT Sans Narrow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.level-container > .header > span {
  position: relative;
  top: -2px;
}
.level-container > .level-number {
  width: 100%;
  height: 53px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10,45,65);
  color: white;
  font-size: 45px;
  font-family: Yantramanav;
  font-weight: bold;
}
.level-container > .level-number > span {
  position: relative;
  top: 0px;
}
.diff-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  padding: 0 3px;
}
.diff-container > span {
  position: relative;
  bottom: -12px;
  color: rgba(255,255,255,0.7);
  font-size: 40px;
  font-family: Cabin;
  font-weight: bold;
}
.card-bottom-sect {
  position: relative;
  top: -53px;
  height: 65px;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  padding: 3px 0;
}
.song-details {
  height: calc(100% - 12px);
  width: 100%;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-details > .title {
  width: 98%;
  min-height: 26px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: Zen Kaku Gothic Antique;
  color: white;
  border-bottom: solid 1px rgba(255,255,255, 0.8);
}
.song-details > .info {
  width: 100%;
  text-align: center;
  font-size: 11px;
  font-family: Zen Kaku Gothic Antique;
  color: rgba(255,255,255, 0.4);
}